langchain>=0.3.25
langgraph>=0.4.5
langchain-core>=0.3.61
langchain-community>=0.3.24
langchain-google-genai>=2.0.10
langchain-huggingface>=0.2.0
langsmith>=0.3.42
langchainhub>=0.1.21

google-api-core>=2.17.0
google-ai-generativelanguage>=0.6.15

sentence-transformers>=2.5.1
chromadb>=0.4.22
pandas>=2.2.2
matplotlib>=3.8.4
prophet>=1.1.5
gradio>=4.26.0
python-dotenv>=1.0.1
Pillow>=10.3.0

yfinance
newspaper3k